header  {
  height: 100px;
}
img {
  height: 900px;
  /* width: max-content; */
  
}
.main_img {
  opacity: 0.7;
}
h1 {
  color: hsl(243, 31%, 28%);
}
body  {
  text-align: center;
}
button {
  opacity: 1;
}

.bookInfo {
    border: 1px solid white;
    color:  black;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    font-size: small;
}

.title {
  text-emphasis: bold;
}

/* DRAG/DROP STYLING */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  position: fixed;
  
}

#box {
 
  color: #fff;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 20px;
  height: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  background-color: #f9e5e7;
  color: black;
  padding: 5px;
  height: 150px;
  width: 250px;
  background-size: cover;
  margin: 40px 0 0 0;
  border: 1px solid #E9D8D8;
  border-radius: 12px;
}

/* Landing page styling */
.land_body {
  background-color: #a4a3bf;
  color: #302e41;
}
.welcome {
  height: 170px;
  width: 55%;
  position: relative;
  font-size: large;
  padding-top: 5%;
 
}

.land_img {
  width: 100%;
  size: cover;
  position: relative;
}

@media (max-width:959px) {
  header {
    height: 50px;
  }
    img {
    height: 400px;
    width:  400px;
  
  }
  h1 {
    font-size: small;
  }
    #box {
    height: 100%;
    width: 80%;
  }
  .card {
    width: 50%;
    height: 20%;
  }
  .bookInfo {
    width: 100%;
    height: 100%;
    font-size: x-small;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .welcome {
   height: 20%;
   font-size: small;
  }
  }