
.bookInfo {
    border: 1px solid white;
    color:  black;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    font-size: small;
}



/* DRAG/DROP STYLING */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  background-color: pink;
  color: black;
  padding: 5px;
  height: 150px;
  width: 250px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border: 1px solid #E9D8D8;
  border-radius: 12px;
 
  
  

}



@media (max-width:959px) {

}