
body {
    text-align: center;
    color: white;
   
}
html {
    background: radial-gradient(circle, rgba(0,0,0,1) 68%, rgba(123,122,130,1) 95%);
}

h1 {
    font-size: 3vw;
    color: blue;
  }
  
  h2{
    font-size: 1vw;
  }

  input {
    width: 300px;
    padding: 1em;
  }
  
  input:focus {
    outline: none;
    background: var(--grey-ice-blue);
  }
  

.bookInfo {
    border: 1px solid white;
    color:  blue;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

/* DRAG/DROP STYLING */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: black;
  color: #444;
}

#box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: 100%;
}

.card {
  background-color: pink;
  color: black;
  padding: 5px;
  margin: 4px;
}